<!doctype html>
<html>
<head>
    <title>Hoboken Restaurant</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link  rel="stylesheet" href="../../public/css/headerNav.css" type="text/css">
    <style>
        body         { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/restaurants" class="btn btn-default btn-sm">Restaurant</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                {{#if user.local.email}}
                <p>
                    <strong>id</strong>: {{user._id}}<br>
                    <strong>email</strong>: {{user.local.email}}<br>
                    <strong>password</strong>: {{user.local.password }}
                </p>
                
              {{/if}}


            </div>
        </div>

       
    </div>
        <div class="container frame">
        <h2 class="text-center">My Reviews</h2>
       
        </br>


        <div class="row">
           {{#each reviews}}
                <div class="singleReview">
                    <p class="red"> <span class="glyphicon glyphicon-user"></span> &nbsp; {{this.restaurantName}} </p>
                    <p class="red"><span class="glyphicon glyphicon-star-empty"></span> &nbsp; {{this.reviewer_like}} </p>
                    <div class="certainReview"><p ><span class="glyphicon glyphicon-pencil red"> </span>&nbsp; {{this.review}} </p></div>
                    <button class="more btn-sm">MORE &raquo;</button>
                </div>
            {{/each}}
        </div>
      
        {{>footer}} 
    </div> 



</div>
</body>
</html>
