<!doctype html>
<html lang="en">
  <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <link  rel="stylesheet" href="../../public/css/restaurants.css" type="text/css"> 
    <link  rel="stylesheet" href="../../public/css/headerNav.css" type="text/css">
  </head>

  <body>
    {{>header}}
    <div class="jumbotron">
      <div class="container">
         <p><a class="btn btn-lg learnmore" href="/restaurants/all" role="button">Learn more &raquo;</a></p>
      </div>
     </div>
     

    <div class="container">
      
       <div id="map_canvas" style="height:600px;width:100%;"> 
        {{#if theRestaurants}} 
          {{#each theRestaurants}}
            <p id="locationId{{@index}}" >{{this.R_location}}</p>
            <p id="locationName{{@index}}">{{this.R_name}}</p>
          {{/each}}
            <p id="arrayLength">{{theRestaurants.length}}</p>
        {{/if}}
        
      </div>

      {{>footer}}
    </div>
    
    
    <script async defer  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwQhgCXQI5ELmiH6wu-O-MqQN26CQToco"></script>
    <script src="../../public/js/nearby.js"></script>
   
  </body>
</html>
