<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <style>
      .jumbotron{
          background: #16543f1f; 
          height:auto;
      }
      .jumbotronTitle{
        color:#165446;
      }
      p,h4,h3,h2{
        color:#165446;
      }
      .panel{
        text-align: center;
        background: #1654443b; 
      }
      .name{
          color:#165446;
          outline: none;   
      }
      .name:hover{
           color: #165446; 
      }
      .rate{
          color: white;
          background-color:#165446; 
          outline: none;   
      }
      .rate:hover{
          color: #1decbc;
          background-color:#165446; 
          outline: none; 
      }
    </style>
    
  </head>

  <body>

    {{>header}}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container-fluid bg-2 text-center">
        <h2 class="jumbotronTitle">Which is the Most Popular ？</h2>
    </div>
    </div>

    <div class="container">
      <div class="row" >
          {{#each theRestaurants}}
           <div class="col-md-6">
             <div class="panel">
                  <a href="/restaurants/{{this._id}}" class="name">
                    <h4><span class="glyphicon glyphicon-cutlery"></span> {{this.R_name}}</h4> 
                  </a>
             
                <p>{{this.R_location}}</p>
                <p>{{this.R_cuisine}}</p>
                <p>
                  <a  href="/restaurants/{{this._id}}" class="btn rate">
                    <span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;{{this.R_averageaLike}}
                  </a>
                 </p>  
             </div>      
           </div>
          {{/each}}  
      </div>   
      <hr>

      {{>footer}} 
    </div> 

  </body>
</html>
