<link  rel="stylesheet" href="../../public/css/restaurants.css" type="text/css"> 
    <link  rel="stylesheet" href="../../public/css/headerNav.css" type="text/css">


  <body>
    {{>header}}

    <div class="jumbotron">
      <div class="container">
        <p><a href="/restaurants/all" ><span class="btn btn-lg learnmore btn-lg">Learnmore</span></a></p>
      </div>
    </div>

    
    <div class="container">
        <div class="row restaurant" >
            {{#each theRestaurants}}
            <div class="single">
                <div class="bodyImage">
                    <h1> 
                      <img src="../../public/image/restaurant.png" alt="Image description"width="30" height="30" align="right"> 
                      <a class="title" href="/restaurants/{{this._id}}"> {{this.R_name}} </a>
                    </h1>
                </div>
                
                <p>
                  {{#each this.R_cuisine}}
                    <span class="glyphicon glyphicon-heart"></span> {{this}}  &nbsp;&nbsp;&nbsp;
                  {{/each}}
                </p>
          
                <div  class="review">
                  <p>{{this.R_review}} </p>
                </div>
                </br>
                <a class="btn btn-default viewdetails" href="/restaurants/{{this._id}}" role="button">View details &raquo;</a></p>     
            </div>
            {{/each}}    
        </div>   
        {{>footer}} 
    </div>

    <script src="../../public/js/restaurants.js"></script>
  </body>

